/datasets/
/exercise_03/.ipynb_checkpoints/
/exercise_03/exercise_03.zip
/exercise_04/.ipynb_checkpoints/
/exercise_04/exercise_04.zip
/exercise_05/.ipynb_checkpoints/
/exercise_05/exercise_05.zip
/exercise_06/.ipynb_checkpoints/
/exercise_06/exercise_06.zip

/exercise_10/lightning_logs/
